﻿@model OficialHotel.Models.Reservacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ckeck_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ckeck_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ckeck_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ckeck_out)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
