﻿@model IEnumerable<OficialHotel.Models.Reservacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ckeck_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ckeck_out)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ckeck_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ckeck_out)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservacionId })
        </td>
    </tr>
}

</table>
