﻿@model IEnumerable<OficialHotel.Models.AdmonHotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.NombreHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreAdmonHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.NombreHotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAdmonHotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdmonHotelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdmonHotelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdmonHotelId })
        </td>
    </tr>
}

</table>
