﻿@model OficialHotel.Models.Hotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio.NombreMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio.NombreMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HotelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
