﻿@model IEnumerable<OficialHotel.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.NombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio.NombreMunicipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio.NombreMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreHotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HotelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HotelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HotelId })
        </td>
    </tr>
}

</table>
