﻿@model OficialHotel.Models.UsuarioLogIn

@{
    ViewBag.Title = "Login";
}

@section scripts{
    @Scripts.Render("~/bundles/usuario")
}

<h2>Login</h2>


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <input type="submit" value="Login" />
}  

<!--AGREGAR USUARIO-->
<!--Small modal-->
<button type="button" class="btn btn-primary"
        data-toggle="modal" data-target="#modalAgregarUsuario">
    Registrar
</button>

<div class="modal fade" tabindex="-1"
     id="modalAgregarUsuario"
     role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dissmiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Registro de Usuario</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input class="form-control" type="text" name="inputNombre" id="inputNombre"
                               data-bind="value: usuarioNuevo.NombreUsuario" />
                    </div>

                    <div class="form-group">
                        <label for="inputApellido">Apellido</label>
                        <input class="form-control" type="text" name="inputApellido" id="inputApellido"
                               data-bind="value: usuarioNuevo.ApellidoUsuario" />
                    </div>

                    <div class="form-group">
                        <label for="inputCorreo">Correo</label>
                        <input class="form-control" type="text" name="inputCorreo" id="inputCorreo"
                               data-bind="value: usuarioNuevo.Correo" />
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" type="text" name="inputPassword" id="inputPassword"
                               data-bind="value: usuarioNuevo.Password" />
                    </div>

                    <div class="form-group">
                        <label for="inputNit">Nit</label>
                        <input class="form-control" type="text" name="inputNit" id="inputNit"
                               data-bind="value: usuarioNuevo.Nit" />
                    </div>
                </div><!--FIN MODAL BODY-->

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                        Guardar
                    </button>
                </div> <!--FIND MODAL FOOTER-->
            </form>
        </div>
    </div>
</div>
