﻿
@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<h2>UserDashBoard</h2>

<fieldset>
    <legend> User DashBoard </legend>

    @if (Session["Correo"] != null)
    { <text>
        Welcome @Session["Correo"].ToString() </text>
    }

    @if (Session["Correo"].ToString() != null)
    {
        @Html.ActionLink("Logout", "Logout", "Home")
    }
</fieldset>  